:root {
  --primary-color: #003699;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
  margin-bottom: 1rem;
}

.header ul {
  display: flex;
}

.header a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.header a:hover {
  color: var(--light-color);
}

.header .welcome span {
  margin-right: 0.6rem;
}

.bg-primary {
  background: var(--primary-color);
  color: #fff;
}
